In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

names=[]
rating=[]
reviews=[]
reviewsValue=[]
interLink=[]
pages=30
head={
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.4; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36',
    'Accept-Language': 'en-US,en;q=0.9',
    'Referer': 'https://www.ambitionbox.com/',
}

for pg in range(1,pages+1):
    url=f"https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={pg}"
    response=requests.get(url,headers=head)
    if response.status_code==200:
        print(f'Successfully Retrived : {pg}')
        soup=BeautifulSoup(response.content,'lxml')
        
        for i in soup.find_all('h2'):
            name=i.text.strip()
            if name:
                names.append(name)
        for span in soup.find_all('span',class_='companyCardWrapper__companyRatingValue'):
            value=span.text.strip()
            if value:
                rating.append(value)
            else:
                print(f'some problem to retriving rating values')
        for j in soup.find_all('span',class_='companyCardWrapper__ActionTitle'):
            rev=j.text.strip()
            if rev:
                reviews.append(rev)
            else:
                print(f'problem to retrive Reviews List')
        for k in soup.find_all('span',class_='companyCardWrapper__ActionCount'):
            counts=k.text.strip()
            if counts:
                reviewsValue.append(counts)
            else:
                print(f'problem to retrive Review Action Count List')
        for m in soup.find_all('span',class_='companyCardWrapper__interLinking'):
            links=m.text.strip()
            if links:
                interLink.append(links)
            else:
                print(f'problem to retrive interLink ')
            
            
        
    else:
        print(f'Failed to retrived {pg}')
        
Series1=pd.Series(names, name='CompanyNames')
Series2=pd.Series(rating,name='Rating')
Series3=pd.Series(reviews,name='Reviews')
Series4=pd.Series(reviewsValue,name='ActionCount')

Successfully Retrived : 1
Successfully Retrived : 2
Successfully Retrived : 3
Successfully Retrived : 4
Successfully Retrived : 5
Successfully Retrived : 6
Successfully Retrived : 7
Successfully Retrived : 8
Successfully Retrived : 9
Successfully Retrived : 10
Successfully Retrived : 11
Successfully Retrived : 12
Successfully Retrived : 13
Successfully Retrived : 14
Successfully Retrived : 15
Successfully Retrived : 16
Successfully Retrived : 17
Successfully Retrived : 18
Successfully Retrived : 19
Successfully Retrived : 20
Successfully Retrived : 21
Successfully Retrived : 22
Successfully Retrived : 23
Successfully Retrived : 24
Successfully Retrived : 25
Successfully Retrived : 26
Successfully Retrived : 27
Successfully Retrived : 28
Successfully Retrived : 29
Successfully Retrived : 30

In [2]:
#This is Companies Names:
Series1

0                          TCS
1                    Accenture
2                    Cognizant
3                        Wipro
4                   ICICI Bank
                ...
715           Lumax Industries
716     Companies by  Industry
717    Companies by  Locations
718         Companies by  Type
719       Companies by  Badges
Name: CompanyNames, Length: 720, dtype: object

In [3]:
#This is Rating of the company:

Series2

0      3.8
1      4.1
2      3.9
3      3.8
4      4.0
      ...
595    4.0
596    3.5
597    3.6
598    4.2
599    4.0
Name: Rating, Length: 600, dtype: object

In [4]:
#But is these two Series 3 and Series 4 are not summarized, so we have to pivot them
#Making into DataFrame
records=pd.DataFrame([Series3,Series4])

In [5]:
#See it has 3600 columns
records

,0,1,2,3,4,5,6,7,8,9,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
Reviews,Reviews,Salaries,Interviews,Jobs,Benefits,Photos,Reviews,Salaries,Interviews,Jobs,...,Interviews,Jobs,Benefits,Photos,Reviews,Salaries,Interviews,Jobs,Benefits,Photos
ActionCount,61.7k,863.3k,5.1k,48,25.6k,63,39.4k,562.2k,3.5k,10.2k,...,30,20,407,--,994,5.5k,41,10,390,1

In [6]:
from typing import ValuesView

In [7]:
#But here we need that both Series or List:Lets Try
data_dict={}
for l in range(len(Series3)):
    Description=Series3[l]
    Values=Series4[l]
    if Description not in data_dict:
        data_dict[Description]=[]
    data_dict[Description].append(Values)

In [8]:
data_dict

{'Reviews': ['61.7k',
  '39.4k',
  '36k',
  '29.5k',
  '29.2k',
  '28.6k',
  '27k',
  '25k',
  '23.6k',
  '22.7k',
  '22.6k',
  '19.3k',
  '18.1k',
  '17.5k',
  '17.4k',
  '17.4k',
  '16.5k',
  '15.5k',
  '15.1k',
  '14.5k',
  '14.2k',
  '12.2k',
  '12.1k',
  '12k',
  '11.4k',
  '10.6k',
  '9.9k',
  '8.5k',
  '8.4k',
  '8.3k',
  '7.9k',
  '7.7k',
  '7.2k',
  '7.1k',
  '6.7k',
  '6.6k',
  '6.3k',
  '6.3k',
  '6.2k',
  '6.2k',
  '6k',
  '6k',
  '5.9k',
  '5.9k',
  '5.7k',
  '5.5k',
  '5.5k',
  '5.4k',
  '5.4k',
  '5.3k',
  '5.3k',
  '5.1k',
  '5k',
  '5k',
  '5k',
  '4.9k',
  '4.9k',
  '4.9k',
  '4.9k',
  '4.9k',
  '4.7k',
  '4.7k',
  '4.7k',
  '4.6k',
  '4.5k',
  '4.5k',
  '4.5k',
  '4.4k',
  '4.4k',
  '4.4k',
  '4.4k',
  '4.3k',
  '4.3k',
  '4.3k',
  '4.2k',
  '4.1k',
  '4.1k',
  '4.1k',
  '4k',
  '4k',
  '4k',
  '3.9k',
  '3.9k',
  '3.9k',
  '3.9k',
  '3.8k',
  '3.8k',
  '3.8k',
  '3.8k',
  '3.8k',
  '3.8k',
  '3.8k',
  '3.7k',
  '3.7k',
  '3.7k',
  '3.7k',
  '3.7k',
  '3.6k',
  '3.6k',
  '3.6k',
  '3.6k',
  '3.6k',
  '3.5k',
  '3.5k',
  '3.4k',
  '3.4k',
  '3.4k',
  '3.3k',
  '3.3k',
  '3.3k',
  '3.3k',
  '3.2k',
  '3.2k',
  '3.2k',
  '3.2k',
  '3.1k',
  '3.1k',
  '3.1k',
  '3.1k',
  '3.1k',
  '3.1k',
  '3k',
  '3k',
  '3k',
  '3k',
  '3k',
  '3k',
  '3k',
  '3k',
  '3k',
  '2.9k',
  '2.9k',
  '2.9k',
  '2.9k',
  '2.9k',
  '2.9k',
  '2.9k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.8k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.7k',
  '2.6k',
  '2.6k',
  '2.6k',
  '2.6k',
  '2.6k',
  '2.6k',
  '2.6k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.5k',
  '2.4k',
  '2.4k',
  '2.4k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.3k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.2k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2.1k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '2k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.9k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.8k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.7k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.6k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.5k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.4k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.3k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.2k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1.1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '1k',
  '999',
  '998',
  '997',
  '995',
  '994'],
 'Salaries': ['863.3k',
  '562.2k',
  '567.9k',
  '417.8k',
  '219.2k',
  '214.6k',
  '489.1k',
  '371.8k',
  '265.8k',
  '196.7k',
  '273.8k',
  '165.3k',
  '109.1k',
  '216.2k',
  '137.9k',
  '97.5k',
  '98.2k',
  '80.6k',
  '80.7k',
  '88k',
  '86k',
  '151k',
  '104.3k',
  '67.7k',
  '77k',
  '60.6k',
  '49.5k',
  '55.5k',
  '118.3k',
  '59.8k',
  '67k',
  '43.6k',
  '82.8k',
  '61.2k',
  '52.3k',
  '32.2k',
  '29.8k',
  '39.2k',
  '28.5k',
  '59.6k',
  '27.6k',
  '19.6k',
  '47.5k',
  '62.6k',
  '73.8k',
  '39.5k',
  '54.1k',
  '25.6k',
  '27.4k',
  '28.6k',
  '30k',
  '52k',
  '32.7k',
  '22.6k',
  '36.6k',
  '60.2k',
  '79.7k',
  '27.2k',
  '25.2k',
  '24.7k',
  '33.8k',
  '29.2k',
  '31k',
  '74.1k',
  '14k',
  '25.7k',
  '22.2k',
  '74.1k',
  '26.6k',
  '65.2k',
  '37.3k',
  '18.7k',
  '21.5k',
  '40.5k',
  '26.5k',
  '3.8k',
  '13.9k',
  '26.2k',
  '22.8k',
  '21.8k',
  '44.6k',
  '18.1k',
  '16.6k',
  '21.6k',
  '25k',
  '16.5k',
  '22.9k',
  '24k',
  '18.2k',
  '18.6k',
  '29.8k',
  '15.7k',
  '52.8k',
  '28.9k',
  '17.6k',
  '15k',
  '22.1k',
  '20.2k',
  '46.7k',
  '21.2k',
  '16k',
  '33.2k',
  '19.1k',
  '21.5k',
  '21.4k',
  '26.4k',
  '18.2k',
  '15.8k',
  '15k',
  '15.7k',
  '18k',
  '15.7k',
  '15.7k',
  '20.2k',
  '30.6k',
  '20.3k',
  '11.7k',
  '15.3k',
  '11.5k',
  '36.9k',
  '22.3k',
  '27.8k',
  '15.2k',
  '32.1k',
  '14.9k',
  '34.5k',
  '24.7k',
  '29.5k',
  '13.5k',
  '33.6k',
  '19.4k',
  '20.8k',
  '19.9k',
  '19.7k',
  '16.2k',
  '31.2k',
  '46.1k',
  '14.6k',
  '25.7k',
  '11.1k',
  '13.8k',
  '13.5k',
  '13k',
  '15.4k',
  '15.3k',
  '21.2k',
  '14.8k',
  '12k',
  '13k',
  '13.6k',
  '17k',
  '12k',
  '9.9k',
  '19k',
  '16.1k',
  '30.3k',
  '21.6k',
  '23k',
  '12.1k',
  '12.9k',
  '14.1k',
  '11.4k',
  '13.9k',
  '15k',
  '12.9k',
  '12.3k',
  '14.3k',
  '24.8k',
  '14.4k',
  '10.4k',
  '12.9k',
  '30.3k',
  '13.7k',
  '13.4k',
  '14.4k',
  '13.6k',
  '20.3k',
  '20.4k',
  '13.4k',
  '14.7k',
  '10.8k',
  '2.9k',
  '10k',
  '8.5k',
  '6.5k',
  '12.5k',
  '14.1k',
  '10.9k',
  '21k',
  '27.4k',
  '15.3k',
  '32.1k',
  '10k',
  '9.5k',
  '11.9k',
  '28.5k',
  '27.5k',
  '13.3k',
  '15.4k',
  '12k',
  '11.4k',
  '20.3k',
  '13k',
  '9.6k',
  '26.2k',
  '11.8k',
  '23.7k',
  '16.3k',
  '11.3k',
  '7.4k',
  '15.6k',
  '12.6k',
  '18.4k',
  '15.7k',
  '15.3k',
  '14.8k',
  '9.2k',
  '26.7k',
  '10.8k',
  '20.1k',
  '2.7k',
  '13.7k',
  '12.1k',
  '10.3k',
  '10.9k',
  '11.9k',
  '8.5k',
  '9.1k',
  '8.6k',
  '17.3k',
  '13.6k',
  '10.5k',
  '10.5k',
  '10.5k',
  '12.1k',
  '8.6k',
  '14.5k',
  '9.2k',
  '18.6k',
  '8.9k',
  '9.2k',
  '8.9k',
  '11k',
  '13.2k',
  '9.1k',
  '8.2k',
  '11.8k',
  '9.2k',
  '5.8k',
  '4k',
  '9.4k',
  '13.5k',
  '7.9k',
  '19.7k',
  '10.1k',
  '6.6k',
  '5.6k',
  '4',
  '9.6k',
  '7.8k',
  '14.8k',
  '12.8k',
  '20k',
  '23.1k',
  '10.5k',
  '6.1k',
  '25.5k',
  '17.4k',
  '15.2k',
  '6.5k',
  '13.5k',
  '7.7k',
  '9.6k',
  '13.3k',
  '11.7k',
  '9.6k',
  '8.8k',
  '10.6k',
  '20.6k',
  '8.5k',
  '25.5k',
  '7.7k',
  '18.2k',
  '7.5k',
  '10.4k',
  '9.7k',
  '10.7k',
  '7.1k',
  '13.5k',
  '8.7k',
  '18.3k',
  '11.1k',
  '11k',
  '8.1k',
  '18.1k',
  '6.8k',
  '7.7k',
  '7.8k',
  '20.3k',
  '8.8k',
  '6.9k',
  '6.8k',
  '9.3k',
  '8.7k',
  '7k',
  '9.2k',
  '20.8k',
  '10.6k',
  '7.6k',
  '5.4k',
  '6.2k',
  '11.7k',
  '9.2k',
  '7.9k',
  '8.3k',
  '8.8k',
  '7.3k',
  '8.4k',
  '8.7k',
  '3.7k',
  '11.2k',
  '7.2k',
  '6.7k',
  '9.2k',
  '6.6k',
  '9.4k',
  '10.3k',
  '7k',
  '8.8k',
  '13.1k',
  '6.7k',
  '7k',
  '6.5k',
  '9k',
  '8.3k',
  '8.6k',
  '7.7k',
  '8.6k',
  '9.7k',
  '8.5k',
  '9.2k',
  '6.2k',
  '10.8k',
  '1.5k',
  '7.7k',
  '11.4k',
  '7.8k',
  '6.1k',
  '5.1k',
  '7.7k',
  '8.1k',
  '9.8k',
  '6.7k',
  '7.1k',
  '13.4k',
  '20.1k',
  '7.6k',
  '6.1k',
  '3.5k',
  '7k',
  '7.2k',
  '10.7k',
  '8.5k',
  '16.9k',
  '5.9k',
  '8.6k',
  '9.7k',
  '7.4k',
  '7.9k',
  '9.2k',
  '6.9k',
  '9.2k',
  '11.1k',
  '7.4k',
  '6.3k',
  '11.1k',
  '11.3k',
  '8.6k',
  '600',
  '7.2k',
  '8.7k',
  '6.4k',
  '5.9k',
  '6.9k',
  '7.5k',
  '6.9k',
  '7.7k',
  '7.5k',
  '8k',
  '13.6k',
  '10.1k',
  '5.8k',
  '7k',
  '14.1k',
  '5.3k',
  '6.4k',
  '6.1k',
  '11.3k',
  '5.6k',
  '9.4k',
  '14.5k',
  '6.7k',
  '4.3k',
  '7.7k',
  '13.9k',
  '12.8k',
  '6.7k',
  '5.9k',
  '8.3k',
  '6.2k',
  '4.8k',
  '6.2k',
  '5.9k',
  '6.2k',
  '7.4k',
  '7k',
  '6.5k',
  '5.9k',
  '7.2k',
  '13.6k',
  '7.8k',
  '7.7k',
  '121',
  '6.7k',
  '15.4k',
  '9.6k',
  '15.9k',
  '8k',
  '8.8k',
  '6k',
  '8.3k',
  '5k',
  '13.6k',
  '17.4k',
  '8.1k',
  '5.7k',
  '7.8k',
  '6.1k',
  '11.5k',
  '6.8k',
  '6.4k',
  '4.3k',
  '8.1k',
  '6.8k',
  '4.3k',
  '15.3k',
  '5.8k',
  '10k',
  '9.8k',
  '7k',
  '5.8k',
  '8.1k',
  '11.4k',
  '4.9k',
  '5.8k',
  '10.5k',
  '6k',
  '8.7k',
  '9.4k',
  '5.6k',
  '8.6k',
  '5.4k',
  '8.7k',
  '5.9k',
  '15.5k',
  '8k',
  '8.8k',
  '9.7k',
  '10.7k',
  '8.1k',
  '6.1k',
  '6.6k',
  '14.8k',
  '5.6k',
  '8.2k',
  '10.8k',
  '7.9k',
  '11.3k',
  '8.1k',
  '4.6k',
  '4.6k',
  '11.2k',
  '4.7k',
  '5.8k',
  '5.1k',
  '5.8k',
  '6.5k',
  '6.6k',
  '348',
  '15.4k',
  '6k',
  '8.4k',
  '5.3k',
  '7.4k',
  '10.7k',
  '4.9k',
  '3.3k',
  '6.8k',
  '5.4k',
  '4.4k',
  '26.7k',
  '5.4k',
  '6k',
  '6.3k',
  '12.7k',
  '5.8k',
  '6.6k',
  '16.5k',
  '8.1k',
  '4.9k',
  '6.3k',
  '5.1k',
  '10.8k',
  '8.1k',
  '4.9k',
  '12.7k',
  '6.3k',
  '4.9k',
  '7.2k',
  '5.5k',
  '6.8k',
  '7.4k',
  '5.3k',
  '6.3k',
  '3.5k',
  '4.1k',
  '4.4k',
  '14k',
  '6.3k',
  '3.6k',
  '6k',
  '6.4k',
  '7.1k',
  '5.9k',
  '10.9k',
  '6.5k',
  '7.9k',
  '6.7k',
  '10.7k',
  '15.3k',
  '5.2k',
  '5.2k',
  '4.7k',
  '8.8k',
  '4.1k',
  '6.2k',
  '4.6k',
  '2.2k',
  '5.6k',
  '11.9k',
  '8.6k',
  '7.3k',
  '6.8k',
  '5.5k',
  '5.7k',
  '4.8k',
  '4.4k',
  '6.5k',
  '8.8k',
  '4.2k',
  '4.2k',
  '5k',
  '5.6k',
  '5.4k',
  '5.1k',
  '6.2k',
  '8.1k',
  '4.4k',
  '6k',
  '9.6k',
  '5.9k',
  '6.9k',
  '8.8k',
  '4.8k',
  '7.8k',
  '4.7k',
  '4k',
  '4k',
  '4.7k',
  '4.3k',
  '4.6k',
  '3.4k',
  '6.7k',
  '3.7k',
  '5.3k',
  '5.1k',
  '5.4k',
  '6.3k',
  '7.9k',
  '4.4k',
  '6.1k',
  '4.1k',
  '10.7k',
  '4.6k',
  '7.3k',
  '6.3k',
  '5.2k',
  '5.9k',
  '4.2k',
  '5.5k'],
 'Interviews': ['5.1k',
  '3.5k',
  '3.1k',
  '3k',
  '1.6k',
  '1.3k',
  '4.3k',
  '2.1k',
  '2k',
  '1.6k',
  '2k',
  '928',
  '866',
  '1.3k',
  '2.9k',
  '982',
  '882',
  '487',
  '967',
  '951',
  '378',
  '1.4k',
  '607',
  '1.6k',
  '775',
  '472',
  '621',
  '884',
  '759',
  '613',
  '353',
  '406',
  '453',
  '582',
  '338',
  '390',
  '147',
  '292',
  '250',
  '314',
  '258',
  '236',
  '232',
  '403',
  '660',
  '291',
  '249',
  '223',
  '375',
  '306',
  '298',
  '362',
  '239',
  '145',
  '366',
  '503',
  '237',
  '270',
  '273',
  '216',
  '352',
  '295',
  '187',
  '361',
  '95',
  '337',
  '234',
  '612',
  '201',
  '351',
  '264',
  '132',
  '247',
  '254',
  '184',
  '276',
  '83',
  '228',
  '201',
  '369',
  '326',
  '145',
  '196',
  '143',
  '280',
  '132',
  '148',
  '162',
  '124',
  '142',
  '263',
  '139',
  '442',
  '218',
  '166',
  '79',
  '218',
  '164',
  '298',
  '150',
  '210',
  '154',
  '195',
  '171',
  '172',
  '148',
  '240',
  '356',
  '153',
  '202',
  '61',
  '172',
  '217',
  '198',
  '145',
  '303',
  '29',
  '63',
  '80',
  '153',
  '142',
  '156',
  '154',
  '173',
  '155',
  '213',
  '241',
  '213',
  '79',
  '291',
  '275',
  '161',
  '372',
  '131',
  '122',
  '250',
  '247',
  '155',
  '206',
  '118',
  '156',
  '135',
  '89',
  '91',
  '86',
  '197',
  '140',
  '162',
  '165',
  '89',
  '115',
  '79',
  '169',
  '105',
  '85',
  '203',
  '215',
  '146',
  '119',
  '110',
  '124',
  '276',
  '72',
  '116',
  '126',
  '112',
  '127',
  '62',
  '65',
  '90',
  '90',
  '185',
  '147',
  '90',
  '96',
  '111',
  '116',
  '193',
  '191',
  '94',
  '108',
  '35',
  '101',
  '67',
  '26',
  '130',
  '133',
  '53',
  '85',
  '149',
  '110',
  '146',
  '93',
  '95',
  '110',
  '258',
  '269',
  '77',
  '103',
  '73',
  '91',
  '93',
  '89',
  '83',
  '105',
  '181',
  '125',
  '80',
  '84',
  '71',
  '152',
  '176',
  '122',
  '141',
  '128',
  '101',
  '64',
  '169',
  '131',
  '106',
  '32',
  '163',
  '96',
  '77',
  '166',
  '80',
  '139',
  '77',
  '125',
  '101',
  '138',
  '75',
  '108',
  '119',
  '96',
  '147',
  '114',
  '132',
  '204',
  '42',
  '82',
  '76',
  '62',
  '236',
  '59',
  '95',
  '134',
  '34',
  '103',
  '45',
  '86',
  '72',
  '84',
  '114',
  '103',
  '42',
  '52',
  '16',
  '80',
  '106',
  '81',
  '86',
  '100',
  '156',
  '73',
  '61',
  '149',
  '134',
  '102',
  '58',
  '45',
  '132',
  '148',
  '175',
  '197',
  '64',
  '70',
  '87',
  '166',
  '123',
  '133',
  '128',
  '121',
  '71',
  '148',
  '68',
  '49',
  '55',
  '93',
  '63',
  '89',
  '102',
  '113',
  '39',
  '123',
  '47',
  '117',
  '40',
  '121',
  '64',
  '37',
  '69',
  '61',
  '86',
  '55',
  '62',
  '96',
  '129',
  '33',
  '46',
  '25',
  '108',
  '70',
  '90',
  '85',
  '90',
  '174',
  '90',
  '71',
  '73',
  '65',
  '63',
  '49',
  '73',
  '50',
  '83',
  '99',
  '38',
  '75',
  '134',
  '62',
  '52',
  '48',
  '52',
  '82',
  '45',
  '70',
  '68',
  '33',
  '78',
  '105',
  '48',
  '117',
  '31',
  '94',
  '86',
  '55',
  '69',
  '77',
  '88',
  '58',
  '136',
  '62',
  '49',
  '149',
  '109',
  '77',
  '27',
  '55',
  '67',
  '86',
  '178',
  '47',
  '99',
  '65',
  '35',
  '85',
  '68',
  '74',
  '104',
  '65',
  '43',
  '107',
  '63',
  '47',
  '67',
  '84',
  '63',
  '12',
  '61',
  '87',
  '74',
  '52',
  '38',
  '62',
  '51',
  '89',
  '58',
  '50',
  '204',
  '95',
  '49',
  '56',
  '84',
  '20',
  '60',
  '40',
  '44',
  '56',
  '145',
  '135',
  '51',
  '14',
  '55',
  '63',
  '69',
  '78',
  '29',
  '64',
  '76',
  '41',
  '65',
  '44',
  '54',
  '64',
  '56',
  '112',
  '51',
  '41',
  '160',
  '55',
  '45',
  '20',
  '64',
  '83',
  '92',
  '191',
  '55',
  '107',
  '40',
  '77',
  '35',
  '46',
  '127',
  '39',
  '74',
  '37',
  '65',
  '53',
  '105',
  '61',
  '39',
  '48',
  '63',
  '87',
  '89',
  '30',
  '148',
  '93',
  '56',
  '69',
  '37',
  '70',
  '80',
  '36',
  '56',
  '54',
  '86',
  '62',
  '28',
  '46',
  '65',
  '72',
  '60',
  '69',
  '49',
  '102',
  '75',
  '45',
  '39',
  '56',
  '25',
  '107',
  '44',
  '50',
  '100',
  '71',
  '58',
  '90',
  '45',
  '95',
  '70',
  '26',
  '58',
  '30',
  '67',
  '59',
  '50',
  '41',
  '70',
  '128',
  '53',
  '47',
  '135',
  '46',
  '57',
  '63',
  '62',
  '31',
  '25',
  '195',
  '53',
  '60',
  '52',
  '80',
  '13',
  '52',
  '314',
  '62',
  '45',
  '48',
  '42',
  '85',
  '58',
  '46',
  '116',
  '53',
  '35',
  '63',
  '77',
  '39',
  '60',
  '21',
  '26',
  '52',
  '45',
  '34',
  '340',
  '74',
  '26',
  '30',
  '59',
  '54',
  '71',
  '51',
  '64',
  '49',
  '57',
  '116',
  '115',
  '45',
  '39',
  '96',
  '63',
  '104',
  '57',
  '35',
  '193',
  '55',
  '37',
  '46',
  '48',
  '56',
  '44',
  '51',
  '38',
  '55',
  '44',
  '104',
  '49',
  '38',
  '35',
  '54',
  '28',
  '44',
  '50',
  '52',
  '45',
  '91',
  '49',
  '63',
  '40',
  '59',
  '38',
  '92',
  '36',
  '34',
  '33',
  '44',
  '33',
  '41',
  '32',
  '47',
  '33',
  '51',
  '61',
  '36',
  '36',
  '22',
  '43',
  '55',
  '51',
  '87',
  '34',
  '55',
  '96',
  '43',
  '80',
  '30',
  '41'],
 'Jobs': ['48',
  '10.2k',
  '466',
  '436',
  '236',
  '398',
  '951',
  '522',
  '1.3k',
  '1k',
  '591',
  '260',
  '207',
  '2.6k',
  '655',
  '138',
  '294',
  '95',
  '249',
  '288',
  '410',
  '292',
  '80',
  '929',
  '72',
  '252',
  '19',
  '423',
  '1.7k',
  '242',
  '236',
  '93',
  '165',
  '27',
  '89',
  '334',
  '67',
  '53',
  '30',
  '34',
  '28',
  '117',
  '24',
  '88',
  '639',
  '81',
  '40',
  '123',
  '125',
  '32',
  '183',
  '179',
  '191',
  '127',
  '527',
  '1.1k',
  '1',
  '293',
  '11',
  '18',
  '537',
  '23',
  '177',
  '135',
  '--',
  '67',
  '141',
  '31',
  '97',
  '1.1k',
  '64',
  '15',
  '452',
  '176',
  '198',
  '32',
  '60',
  '236',
  '91',
  '49',
  '327',
  '17',
  '43',
  '14',
  '74',
  '--',
  '5',
  '452',
  '3',
  '196',
  '59',
  '54',
  '213',
  '1.1k',
  '55',
  '56',
  '37',
  '48',
  '2',
  '75',
  '7',
  '57',
  '107',
  '42',
  '63',
  '251',
  '138',
  '--',
  '19',
  '29',
  '2',
  '37',
  '88',
  '10',
  '166',
  '850',
  '--',
  '16',
  '2',
  '33',
  '36',
  '616',
  '16',
  '43',
  '--',
  '120',
  '40',
  '184',
  '43',
  '1',
  '142',
  '287',
  '72',
  '74',
  '87',
  '169',
  '106',
  '1',
  '91',
  '46',
  '9',
  '183',
  '16',
  '21',
  '2',
  '298',
  '51',
  '5',
  '7',
  '59',
  '1',
  '33',
  '--',
  '48',
  '13',
  '2',
  '35',
  '464',
  '6',
  '21',
  '--',
  '514',
  '--',
  '49',
  '31',
  '56',
  '25',
  '10',
  '83',
  '112',
  '174',
  '504',
  '2.3k',
  '--',
  '15',
  '20',
  '50',
  '112',
  '335',
  '88',
  '31',
  '34',
  '19',
  '43',
  '--',
  '--',
  '51',
  '20',
  '--',
  '6',
  '253',
  '82',
  '6',
  '10',
  '53',
  '67',
  '200',
  '7',
  '1',
  '37',
  '29',
  '3',
  '--',
  '55',
  '49',
  '19',
  '15',
  '121',
  '4',
  '33',
  '35',
  '53',
  '88',
  '35',
  '65',
  '62',
  '5',
  '106',
  '3',
  '35',
  '50',
  '18',
  '13',
  '15',
  '32',
  '21',
  '--',
  '14',
  '22',
  '81',
  '84',
  '110',
  '--',
  '6',
  '15',
  '2',
  '157',
  '2',
  '32',
  '13',
  '67',
  '89',
  '12',
  '69',
  '2',
  '9',
  '161',
  '46',
  '--',
  '53',
  '15',
  '6',
  '130',
  '2',
  '35',
  '16',
  '1',
  '--',
  '5',
  '1',
  '38',
  '96',
  '22',
  '44',
  '5',
  '15',
  '150',
  '--',
  '28',
  '71',
  '--',
  '5',
  '185',
  '129',
  '133',
  '45',
  '51',
  '16',
  '75',
  '40',
  '75',
  '633',
  '170',
  '81',
  '12',
  '98',
  '32',
  '6',
  '474',
  '3',
  '82',
  '33',
  '92',
  '2',
  '16',
  '14',
  '69',
  '20',
  '17',
  '4',
  '18',
  '1',
  '5',
  '8',
  '22',
  '13',
  '117',
  '136',
  '8',
  '--',
  '2',
  '3',
  '20',
  '65',
  '35',
  '153',
  '52',
  '2',
  '6',
  '--',
  '30',
  '116',
  '2',
  '22',
  '4',
  '--',
  '34',
  '73',
  '60',
  '55',
  '85',
  '56',
  '127',
  '43',
  '2',
  '2',
  '4',
  '79',
  '101',
  '28',
  '53',
  '17',
  '3',
  '2',
  '199',
  '169',

In [9]:
#Now make it as DataFrame
eg=pd.DataFrame(data_dict)

In [10]:
# Make it as Example for us, as eg REMEMBER
eg

    Reviews Salaries Interviews   Jobs Benefits Photos
0     61.7k   863.3k       5.1k     48    25.6k     63
1     39.4k   562.2k       3.5k  10.2k    18.3k     31
2       36k   567.9k       3.1k    466    14.9k     41
3     29.5k   417.8k         3k    436    11.5k     33
4     29.2k   219.2k       1.6k    236    11.9k     12
..      ...      ...        ...    ...      ...    ...
595     999     6.3k         96     34      359      7
596     998     5.2k         43      8      397     17
597     997     5.9k         80     31      431      7
598     995     4.2k         30     20      407     --
599     994     5.5k         41     10      390      1

[600 rows x 6 columns]

In [11]:
#Now that intelink we didit make it as Series
interLink

['IT Services & Consulting | 1 Lakh+ Employees | Public | 55 years old | Mumbai +280 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 34 years old | Dublin +141 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 29 years old | Teaneck. New Jersey. +111 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 78 years old | Bangalore/Bengaluru +243 more',
 'Banking | 1 Lakh+ Employees | Public | 29 years old | Mumbai +1177 more',
 'Banking | 1 Lakh+ Employees | Public | 29 years old | Mumbai +1404 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 42 years old | Bengaluru/Bangalore +135 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Paris +86 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 37 years old | Pune +231 more',
 'IT Services & Consulting | 50k-1 Lakh Employees | Public | 26 years old | New York +79 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 32 years old | Noida +150 more',
 'Banking | 50k-1 Lakh Employees | Public | 30 years old | Mumbai +1209 more',
 'BPO | 10k-50k Employees | Public | 40 years old | Fremont +82 more',
 'Software Product | 50k-1 Lakh Employees | Public | 112 years old | Armonk +129 more',
 'Internet | 1 Lakh+ Employees | Public | 29 years old | Seattle +389 more',
 'Telecom | 50k-1 Lakh Employees | Public | 16 years old | Navi Mumbai +1084 more',
 'Engineering & Construction | 1 Lakh+ Employees | Public | 85 years old | Mumbai +572 more',
 'NBFC | 10k-50k Employees | 16 years old | Ahmedabad +880 more',
 'Retail | 1 Lakh+ Employees | 17 years old | Navi Mumbai +874 more',
 'BPO | 10k-50k Employees | Forbes Global 2000 | 45 years old | Paris +131 more',
 'Telecom | 10k-50k Employees | Public | 5 years old | Gandhinagar +595 more',
 'Management Consulting | 50k-1 Lakh Employees | 178 years old | London +141 more',
 'Banking | 10k-50k Employees | Public | 20 years old | Mumbai +504 more',
 'EdTech | 1k-5k Employees | Indian Unicorn | 12 years old | Bangalore +284 more',
 'Oil & Gas | Public | 46 years old | Navi Mumbai +572 more',
 'Telecom | 10k-50k Employees | Public | 28 years old | Gurgaon/Gurugram +585 more',
 'Automobile | 10k-50k Employees | Public | 78 years old | Pune +414 more',
 'Internet | 10k-50k Employees | Public | 16 years old | Bangalore +489 more',
 'Accounting & Auditing | 10k-50k Employees | 21 years old | London +84 more',
 'BPO | 10k-50k Employees | 27 years old | Mumbai +28 more',
 'Banking | 10k-50k Employees | Public | 29 years old | Gurgaon/Gurugram +624 more',
 'Automobile | 1 Lakh+ Employees | Public | 78 years old | Mumbai +435 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 6 years old | Minato +59 more',
 'BPO | 10k-50k Employees | 21 years old | Bangalore/Bengaluru +53 more',
 'Banking | 10k-50k Employees | Public | 5 years old | Mumbai +492 more',
 'Automobile | 10k-50k Employees | Public | 40 years old | New Delhi +392 more',
 'Software Product | 10k-50k Employees | Public | 23 years old | Bangalore/Bengaluru +85 more',
 'Insurance | 10k-50k Employees | Public | 16 years old | Pune +772 more',
 'Analytics & KPO | 10k-50k Employees | 21 years old | Mumbai +180 more',
 'Banking | 10k-50k Employees | Forbes Global 2000 | 21 years old | Pune +55 more',
 'BPO | 10k-50k Employees | Public | 6 years old | Mumbai +58 more',
 'BPO | 10k-50k Employees | 23 years old | Noida +19 more',
 'Telecom | 10k-50k Employees | Forbes Global 2000 | 147 years old | Stockholm +138 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 25 years old | Bangalore/Bengaluru +41 more',
 'Accounting & Auditing | 10k-50k Employees | Conglomerate | 143 years old | London +76 more',
 'Insurance | 10k-50k Employees | Public | 1 years old | Mumbai +471 more',
 'Banking | 10k-50k Employees | Public | 19 years old | Mumbai +407 more',
 'Pharma | 10k-50k Employees | Public | 39 years old | Hyderabad/Secunderabad +148 more',
 'Chemicals | 10k-50k Employees | Public | 81 years old | Mumbai +375 more',
 'Pharma | 10k-50k Employees | Public | 88 years old | Mumbai +200 more',
 'IT Services & Consulting | 10k-50k Employees | 37 years old | Pittsford +44 more',
 'IT Services & Consulting | 10k-50k Employees | 35 years old | Chiyoda City +45 more',
 'Insurance | 10k-50k Employees | Public | 23 years old | Mumbai +423 more',
 'Banking | 10k-50k Employees | Public | 17 years old | Bangalore/Bengaluru +326 more',
 'Analytics & KPO | 10k-50k Employees | 24 years old | New York City +36 more',
 'Management Consulting | 10k-50k Employees | 36 years old | Bengaluru/Bangalore +68 more',
 'IT Services & Consulting | 1 Lakh+ Employees | 47 years old | Chennai +65 more',
 'Internet | 1k-5k Employees | Indian Unicorn | 7 years old | Bangalore +328 more',
 'Building Material | 10k-50k Employees | Public | 40 years old | Mumbai +388 more',
 'Pharma | 10k-50k Employees | Public | 55 years old | Mumbai +147 more',
 'FinTech | 5k-10k Employees | Public | 13 years old | Noida +267 more',
 'Banking | 50k-1 Lakh Employees | Public | 22 years old | Kolkata +654 more',
 'NBFC | 10k-50k Employees | 36 years old | Pune +687 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 27 years old | Mumbai +71 more',
 'Defence & Aerospace | 1 Lakh+ Employees | Public | 128 years old | New Delhi +293 more',
 'FMCG | 10k-50k Employees | Public | 48 years old | Kolkata +269 more',
 'Financial Services | 10k-50k Employees | Fortune India 500 | 27 years old | Jaipur +332 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 24 years old | Bangalore/Bengaluru +28 more',
 'FMCG | 10k-50k Employees | Public | 90 years old | Mumbai +393 more',
 '10k-50k Employees | Forbes Global 2000 | 23 years old | New York +26 more',
 'IT Services & Consulting | 5k-10k Employees | 55 years old | Jacksonville +35 more',
 'Banking | 10k-50k Employees | Public | 6 years old | Bangalore/Bengaluru +398 more',
 'Logistics | 10k-50k Employees | Fortune India 500 | 12 years old | Delhi +537 more',
 'Banking | 10k-50k Employees | Public | 171 years old | San Francisco +17 more',
 'Financial Services | 10k-50k Employees | Public | 28 years old | Mumbai +588 more',
 'Hyderabad/Secunderabad +48 more',
 'Financial Services | 5k-10k Employees | 11 years old | Gurugram +108 more',
 'Recruitment | 1 Lakh+ Employees | Public | 16 years old | Bangalore +445 more',
 'Pharma | 10k-50k Employees | Public | 40 years old | Mumbai +172 more',
 'Iron & Steel | 1 Lakh+ Employees | Public | 116 years old | Mumbai +133 more',
 'IT Services & Consulting | 10k-50k Employees | Fortune India 500 | 33 years old | Mumbai +34 more',
 'Consumer Electronics & Appliances | 10k-50k Employees | Public | 19 years old | Dongguan +349 more',
 'Engineering & Construction | 5k-10k Employees | Conglomerate | 158 years old | Mumbai +148 more',
 'Automobile | 10k-50k Employees | Public | 75 years old | Chennai +200 more',
 'Iron & Steel | 10k-50k Employees | Public | 41 years old | Mumbai +112 more',
 'NBFC | 10k-50k Employees | Public | 44 years old | Mumbai +735 more',
 'Pharma | 10k-50k Employees | Public | 37 years old | Hyderabad/Secunderabad +55 more',
 'Insurance | 10k-50k Employees | 23 years old | Gurgaon/Gurugram +343 more',
 'Consumer Electronics & Appliances | 5k-10k Employees | Conglomerate | 14 years old | Gurgaon/Gurugram +350 more',
 'NBFC | 10k-50k Employees | Public | 84 years old | Kochi/Cochin +551 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 23 years old | Mumbai +15 more',
 'Pharma | 10k-50k Employees | Public | 71 years old | Ahmedabad +121 more',
 'Software Product | 50k-1 Lakh Employees | Public | 46 years old | Austin +37 more',
 'Power | 5k-10k Employees | Public | 176 years old | Munich +114 more',
 'Healthcare | 50k-1 Lakh Employees | Public | 40 years old | Chennai +168 more',
 'NBFC | 10k-50k Employees | Public | 32 years old | Mumbai +601 more',
 'Engineering & Construction | 10k-50k Employees | Public | 44 years old | Mumbai +219 more',
 'Real Estate | 5k-10k Employees | Forbes Global 2000 | 26 years old | Mumbai +64 more',
 'Bengaluru/Bangalore +31 more',
 'BPO | 10k-50k Employees | Public | 22 years old | Mumbai +49 more',
 'Automobile | 5k-10k Employees | Public | 39 years old | Gurgaon/Gurugram +287 more',
 'Emerging Technologies | 10k-50k Employees | Forbes Global 2000 | 8 years old | Houston +89 more',
 'Internet | 10k-50k Employees | Public | 27 years old | Mumbai +150 more',
 'Insurance | 10k-50k Employees | 22 years old | Pune +473 more',
 'IT Services & Consulting | 5k-10k Employees | 19 years old | Florida +37 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 32 years old | Hyderabad/Secunderabad +27 more',
 'Engineering & Construction | 1k-5k Employees | Conglomerate | 34 years old | Hyderabad/Secunderabad +246 more',
 'Engineering & Construction | 10k-50k Employees | Public | 79 years old | Chennai +283 more',
 'Automobile | 10k-50k Employees | Fortune India 500 | 56 years old | Seoul +246 more',
 'Retail | 10k-50k Employees | Fortune India 500 | 4 years old | Mumbai +197 more',
 'Telecom | 10k-50k Employees | Public | 21 years old | Navi Mumbai +395 more',
 'Automobile | 10k-50k Employees | Public | 44 years old | Chennai +250 more',
 'Internet | 10k-50k Employees | Indian Unicorn | 12 years old | Bangalore +98 more',
 'Auto Components | 10k-50k Employees | Public | 137 years old | Gerlingen +90 more',
 'Hospitality | 1k-5k Employees | Indian Unicorn | 10 years old | Gurgaon +109 more',
 'Internet | 10k-50k Employees | 27 years old | Noida +121 more',
 'BPO | 10k-50k Employees | 23 years old | Mumbai +57 more',
 'Retail | 10k-50k Employees | Conglomerate | 10 years old | Mumbai +196 more',
 'NBFC | 10k-50k Employees | Public | 74 years old | Thrissur/Trichur +443 more',
 'IT Services & Consulting | 5k-10k Employees | 43 years old | Troy +16 more',
 'Financial Services | 1k-5k Employees | 25 years old | Gurgaon/Gurugram +295 more',
 'IT Services & Consulting | 5k-10k Employees | Forbes Global 2000 | 19 years old | New York City +12 more',
 'Auto Components | 10k-50k Employees | Fortune India 500 | 61 years old | Columbus +92 more',
 'Software Product | 10k-50k Employees | 33 years old | Gerlingen +23 more',
 'IT Services & Consulting | 1 Lakh+ Employees | 23 years old | Bengaluru +38 more',
 'IT Services & Consulting | 10k-50k Employees | 22 years old | Aliso Viejo +32 more',
 'Clinical Research | 10k-50k Employees | Forbes Global 2000 | 41 years old | Durham +38 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 19 years old | Noida +78 more',
 'Financial Services | 10k-50k Employees | 16 years old | Mumbai +438 more',
 'Software Product | 10k-50k Employees | Forbes Global 2000 | 41 years old | Chesterfield +13 more',
 '5k-10k Employees | Public | 85 years old | Seoul +388 more',
 'Industrial Automation | 10k-50k Employees | Forbes Global 2000 | 24 years old | Paris +97 more',
 'IT Services & Consulting | 10k-50k Employees | 27 years old | Munich +33 more',
 'Insurance | 10k-50k Employees | Public | 22 years old | Mumbai +228 more',
 'Real Estate | 10k-50k Employees | Forbes Global 2000 | 117 years old | Los Angeles +61 more',
 'IT Services & Consulting | 10k-50k Employees | 23 years old | San Jose +25 more',
 'IT Services & Consulting | 10k-50k Employees | 27 years old | Southborough +25 more',
 'Auto Components | 10k-50k Employees | Public | 40 years old | Gurgaon/Gurugram +75 more',
 'Consumer Electronics & Appliances | 10k-50k Employees | Forbes Global 2000 | 39 years old | Round Rock +82 more',
 'Logistics | 10k-50k Employees | 11 years old | Gurgaon +560 more',
 'Automobile | 5k-10k Employees | Public | 78 years old | Pune +222 more',
 'Banking | 1 Lakh+ Employees | Fortune India 500 | 217 years old | Mumbai +425 more',
 'NBFC | 5k-10k Employees | Fortune India 500 | 45 years old | Chennai +543 more',
 'Banking | 10k-50k Employees | Fortune India 500 | 16 years old | Chennai +322 more',
 'Pharma | 10k-50k Employees | Forbes Global 2000 | 62 years old | Canonsburg +64 more',
 'Internet | 5k-10k Employees | Indian Unicorn | 9 years old | Bangalore +155 more',
 'Auto Components | 5k-10k Employees | Public | 37 years old | Noida +66 more',
 'Real Estate | 5k-10k Employees | Public | 78 years old | Mumbai +240 more',
 'Engineering & Construction | 1k-5k Employees | Public | 25 years old | Hyderabad/Secunderabad +196 more',
 'Retail | 10k-50k Employees | Fortune India 500 | 8 years old | Mumbai +208 more',
 'Insurance | 10k-50k Employees | 22 years old | Mumbai +477 more',
 'NBFC | 10k-50k Employees | Conglomerate | 136 years old | Trivandrum/Thiruvananthapuram +500 more',
 'Logistics | 5k-10k Employees | 14 years old | San Francisco +496 more',
 'FMCG | 10k-50k Employees | Fortune India 500 | 126 years old | Mumbai +122 more',
 'Automobile | 1k-5k Employees | 122 years old | Gurgaon/Gurugram +274 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 11 years old | Vadodara/Baroda +31 more',
 'Healthcare | 10k-50k Employees | 46 years old | Prairie +22 more',
 'Telecom | 5k-10k Employees | Public | 37 years old | Mumbai +82 more',
 'Consumer Electronics & Appliances | 10k-50k Employees | Public | 65 years old | Seoul +223 more',
 'NBFC | 5k-10k Employees | 3 years old | Mumbai +289 more',
 'IT Services & Consulting | 5k-10k Employees | Fortune India 500 | 22 years old | Moline +104 more',
 'EdTech | 5k-10k Employees | Startup | 5 years old | Mumbai +47 more',
 'NBFC | 10k-50k Employees | Public | 29 years old | Mumbai +437 more',
 'Pharma | 10k-50k Employees | Fortune India 500 | 23 years old | Ahmedabad +105 more',
 'Industrial Machinery | 5k-10k Employees | Public | 43 years old | Pune +142 more',
 'Beverage | 10k-50k Employees | Public | 28 years old | Gurgaon/Gurugram +243 more',
 'Pharma | 1k-5k Employees | 30 years old | Hyderabad/Secunderabad +34 more',
 'Healthcare | 10k-50k Employees | Forbes Global 2000 | 46 years old | Minnetonka +14 more',
 'Automobile | 5k-10k Employees | Public | 120 years old | Dearborn +101 more',
 'Facility Management Services | 10k-50k Employees | Forbes Global 2000 | 15 years old | Issy les Moulineaux +121 more',
 'Pharma | 1k-5k Employees | Public | 32 years old | Illinois City +159 more',
 'Banking | 10k-50k Employees | Fortune India 500 | 153 years old | Frankfurt +30 more',
 '1k-5k Employees | Conglomerate | 31 years old | Chennai +225 more',
 'Auto Components | 1k-5k Employees | Public | 38 years old | Noida +37 more',
 'Pharma | 5k-10k Employees | Public | 37 years old | Mumbai +81 more',
 'Automobile | 1k-5k Employees | 15 years old | Gurgaon/Gurugram +114 more',
 'IT Services & Consulting | 5k-10k Employees | Forbes Global 2000 | 74 years old | New Jersey +17 more',
 'Financial Services | 10k-50k Employees | Forbes Global 2000 | 173 years old | New York City +38 more',
 'Internet | 5k-10k Employees | Indian Unicorn | 8 years old | Gurgaon +137 more',
 'Electrical Equipment | 5k-10k Employees | Public | 40 years old | Noida +154 more',
 'Chemicals | 5k-10k Employees | Public | 64 years old | Mumbai +201 more',
 'FMCG | 1k-5k Employees | 78 years old | Bangalore/Bengaluru +81 more',
 'Pharma | 10k-50k Employees | Public | 50 years old | Mumbai +132 more',
 'Beverage | 5k-10k Employees | 26 years old | Bangalore +191 more',
 'Defence & Aerospace | 1 Lakh+ Employees | 91 years old | New Delhi +108 more',
 'Consumer Electronics & Appliances | 5k-10k Employees | Fortune India 500 | 69 years old | Bangalore/Bengaluru +37 more',
 'Pharma | 10k-50k Employees | Public | 116 years old | Vadodara/Baroda +128 more',
 'Financial Services | 1k-5k Employees | 12 years old | San Mateo +265 more',
 'IT Services & Consulting | 1 Lakh+ Employees (Global) | MNC | 78 years old | Bangalore +116 more',
 'IT Services & Consulting | 201-500 Employees | Forbes Global 2000 | 26 years old | Vilnius +35 more',
 'Recruitment | 1k-5k Employees | Public | 7 years old | Bangalore/Bengaluru +255 more',
 'IT Services & Consulting | 10k-50k Employees | Forbes Global 2000 | 47 years old | Montreal +14 more',
 'Metals & Mining | 10k-50k Employees | Public | 65 years old | Mumbai +72 more',
 'Retail | 10k-50k Employees | 15 years old | Gurgaon/Gurugram +294 more',
 'Banking | 5k-10k Employees | Fortune India 500 | 93 years old | Mumbai +283 more',
 'IT Services & Consulting | 10k-50k Employees | Public | 33 years old | Pune +17 more',
 'IT Services & Consulting | 10k-50k Employees | 33 years old | New York +15 more',
 'IT Services & Consulting | 5k-10k Employees | Startup | 9 years old | Bangalore +134 more',
 'Electrical Equipment | 10k-50k Employees | Public | 35 years old | Zurich +88 more',
 'Pharma | 501-1k Employees | Public | 46 years old | Mumbai +120 more',
 'Pharma | 10k-50k Employees | Public | 74 years old | Mumbai +104 more',
 'Banking | 10k-50k Employees | Forbes Global 2000 | Gurgaon/Gurugram +21 more',
 'Automobile | 1k-5k Employees | 24 years old | Gurgaon/Gurugram +190 more',
 'Logistics | 1k-5k Employees | 33 years old | Bangalore/Bengaluru +205 more',
 'Banking | 10k-50k Employees | Fortune India 500 | 54 years old | London +57 more',
 'Auto Components | 10k-50k Employees | Public | 77 years old | Chennai +160 more',
 'Banking | 10k-50k Employees | Fortune India 500 | 25 years old | Charlotte +25 more',
 'Logistics | 10k-50k Employees | 119 years old | Copenhagen +26 more',
 'Insurance | 10k-50k Employees | 23 years old | Mumbai +410 more',
 'Logistics | 1k-5k Employees | 11 years old | Hyderabad/Secunderabad +153 more',
 'Accounting & Auditing | 5k-10k Employees | 20 years old | Murray +18 more',
 'Chemicals | 5k-10k Employees | Public | 48 years old | Mumbai +37 more',
 'IT Services & Consulting | 1k-5k Employees | 12 years old | Dallas +18 more',
 'Software Product | 5k-10k Employees | 23 years old | San Jose +22 more',
 'Biotechnology | 10k-50k Employees | Public | 45 years old | Bangalore/Bengaluru +58 more',
 'Insurance | 10k-50k Employees | 22 years old | Mumbai +262 more',
 'Retail | 5k-10k Employees | Public | 32 years old | Mumbai +58 more',
 'IT Services & Consulting | 5k-10k Employees | 23 years old | Bangalore/Bengaluru +43 more',
 'Banking | 10k-50k Employees | Public | 14 years old | Varanasi +263 more',
 'IT Services & Consulting | 5k-10k Employees | 6 years old | Florham Park +19 more',
 'Healthcare | 5k-10k Employees | 17 years old | Gurgaon/Gurugram +33 more',
 'Iron & Steel | 5k-10k Employees | Fortune India 500 | 71 years old | Delhi/NCR +96 more',
 'Auto Components | 5k-10k Employees | Public | 65 years old | Mumbai +97 more',
 'Power | 5k-10k Employees | Public | 28 years old | Pune +96 more',
 'Chemicals | 1k-5k Employees | Public | 100 years old | Kolkata +204 more',
 'Insurance | 5k-10k Employees | Public | 21 years old | Mumbai +203 more',
 'Oil & Gas | 10k-50k Employees | Fortune India 500 | 64 years old | Delhi/NCR +214 more',
 'FMCG | 1k-5k Employees | 36 years old | Mumbai +159 more',
 'FMCG | 5k-10k Employees | Public | 139 years old | Ghaziabad +218 more',
 'Banking | 1k-5k Employees | Public | 80 years old | Mumbai +192 more',
 'FinTech | 5k-10k Employees | Public | 15 years old | Gurgaon +58 more',
 'BPO | 5k-10k Employees | 18 years old | Culver City +12 more',
 'Automobile | 10k-50k Employees | Public | 63 years old | Faridabad +115 more',
 'Building Material | 5k-10k Employees | Public | 87 years old | Mumbai +194 more',
 'Insurance | 5k-10k Employees | Conglomerate | 22 years old | Mumbai +283 more',
 'Building Material | 1k-5k Employees | Public | 49 years old | Gurgaon/Gurugram +201 more',
 'Insurance | 10k-50k Employees | Public | 22 years old | Mumbai +184 more',
 'BPO | 10k-50k Employees | Conglomerate | 19 years old | Noida +30 more',
 'Hyderabad/Secunderabad +9 more',
 'Engineering & Construction | 1k-5k Employees | Public | 99 years old | Kolkata +127 more',

In [12]:
#Because it is a list so we use split data functions within list
splitdata=[o.split('|') for o in interLink]
#Dont Run it Again

In [13]:
splitdata

[['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 55 years old ',
  ' Mumbai +280 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 34 years old ',
  ' Dublin +141 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Forbes Global 2000 ',
  ' 29 years old ',
  ' Teaneck. New Jersey. +111 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 78 years old ',
  ' Bangalore/Bengaluru +243 more'],
 ['Banking ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 29 years old ',
  ' Mumbai +1177 more'],
 ['Banking ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 29 years old ',
  ' Mumbai +1404 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 42 years old ',
  ' Bengaluru/Bangalore +135 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 56 years old ',
  ' Paris +86 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 37 years old ',
  ' Pune +231 more'],
 ['IT Services & Consulting ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 26 years old ',
  ' New York +79 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 32 years old ',
  ' Noida +150 more'],
 ['Banking ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 30 years old ',
  ' Mumbai +1209 more'],
 ['BPO ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 40 years old ',
  ' Fremont +82 more'],
 ['Software Product ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 112 years old ',
  ' Armonk +129 more'],
 ['Internet ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 29 years old ',
  ' Seattle +389 more'],
 ['Telecom ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 16 years old ',
  ' Navi Mumbai +1084 more'],
 ['Engineering & Construction ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 85 years old ',
  ' Mumbai +572 more'],
 ['NBFC ', ' 10k-50k Employees ', ' 16 years old ', ' Ahmedabad +880 more'],
 ['Retail ',
  ' 1 Lakh+ Employees ',
  ' 17 years old ',
  ' Navi Mumbai +874 more'],
 ['BPO ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 45 years old ',
  ' Paris +131 more'],
 ['Telecom ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 5 years old ',
  ' Gandhinagar +595 more'],
 ['Management Consulting ',
  ' 50k-1 Lakh Employees ',
  ' 178 years old ',
  ' London +141 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 20 years old ',
  ' Mumbai +504 more'],
 ['EdTech ',
  ' 1k-5k Employees ',
  ' Indian Unicorn ',
  ' 12 years old ',
  ' Bangalore +284 more'],
 ['Oil & Gas ', ' Public ', ' 46 years old ', ' Navi Mumbai +572 more'],
 ['Telecom ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 28 years old ',
  ' Gurgaon/Gurugram +585 more'],
 ['Automobile ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 78 years old ',
  ' Pune +414 more'],
 ['Internet ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 16 years old ',
  ' Bangalore +489 more'],
 ['Accounting & Auditing ',
  ' 10k-50k Employees ',
  ' 21 years old ',
  ' London +84 more'],
 ['BPO ', ' 10k-50k Employees ', ' 27 years old ', ' Mumbai +28 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 29 years old ',
  ' Gurgaon/Gurugram +624 more'],
 ['Automobile ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 78 years old ',
  ' Mumbai +435 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 6 years old ',
  ' Minato +59 more'],
 ['BPO ',
  ' 10k-50k Employees ',
  ' 21 years old ',
  ' Bangalore/Bengaluru +53 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 5 years old ',
  ' Mumbai +492 more'],
 ['Automobile ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 40 years old ',
  ' New Delhi +392 more'],
 ['Software Product ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 23 years old ',
  ' Bangalore/Bengaluru +85 more'],
 ['Insurance ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 16 years old ',
  ' Pune +772 more'],
 ['Analytics & KPO ',
  ' 10k-50k Employees ',
  ' 21 years old ',
  ' Mumbai +180 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 21 years old ',
  ' Pune +55 more'],
 ['BPO ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 6 years old ',
  ' Mumbai +58 more'],
 ['BPO ', ' 10k-50k Employees ', ' 23 years old ', ' Noida +19 more'],
 ['Telecom ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 147 years old ',
  ' Stockholm +138 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 25 years old ',
  ' Bangalore/Bengaluru +41 more'],
 ['Accounting & Auditing ',
  ' 10k-50k Employees ',
  ' Conglomerate ',
  ' 143 years old ',
  ' London +76 more'],
 ['Insurance ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 1 years old ',
  ' Mumbai +471 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 19 years old ',
  ' Mumbai +407 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 39 years old ',
  ' Hyderabad/Secunderabad +148 more'],
 ['Chemicals ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 81 years old ',
  ' Mumbai +375 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 88 years old ',
  ' Mumbai +200 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' 37 years old ',
  ' Pittsford +44 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' 35 years old ',
  ' Chiyoda City +45 more'],
 ['Insurance ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 23 years old ',
  ' Mumbai +423 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 17 years old ',
  ' Bangalore/Bengaluru +326 more'],
 ['Analytics & KPO ',
  ' 10k-50k Employees ',
  ' 24 years old ',
  ' New York City +36 more'],
 ['Management Consulting ',
  ' 10k-50k Employees ',
  ' 36 years old ',
  ' Bengaluru/Bangalore +68 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' 47 years old ',
  ' Chennai +65 more'],
 ['Internet ',
  ' 1k-5k Employees ',
  ' Indian Unicorn ',
  ' 7 years old ',
  ' Bangalore +328 more'],
 ['Building Material ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 40 years old ',
  ' Mumbai +388 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 55 years old ',
  ' Mumbai +147 more'],
 ['FinTech ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 13 years old ',
  ' Noida +267 more'],
 ['Banking ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 22 years old ',
  ' Kolkata +654 more'],
 ['NBFC ', ' 10k-50k Employees ', ' 36 years old ', ' Pune +687 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 27 years old ',
  ' Mumbai +71 more'],
 ['Defence & Aerospace ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 128 years old ',
  ' New Delhi +293 more'],
 ['FMCG ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 48 years old ',
  ' Kolkata +269 more'],
 ['Financial Services ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 27 years old ',
  ' Jaipur +332 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 24 years old ',
  ' Bangalore/Bengaluru +28 more'],
 ['FMCG ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 90 years old ',
  ' Mumbai +393 more'],
 ['10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 23 years old ',
  ' New York +26 more'],
 ['IT Services & Consulting ',
  ' 5k-10k Employees ',
  ' 55 years old ',
  ' Jacksonville +35 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 6 years old ',
  ' Bangalore/Bengaluru +398 more'],
 ['Logistics ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 12 years old ',
  ' Delhi +537 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 171 years old ',
  ' San Francisco +17 more'],
 ['Financial Services ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 28 years old ',
  ' Mumbai +588 more'],
 ['Hyderabad/Secunderabad +48 more'],
 ['Financial Services ',
  ' 5k-10k Employees ',
  ' 11 years old ',
  ' Gurugram +108 more'],
 ['Recruitment ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 16 years old ',
  ' Bangalore +445 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 40 years old ',
  ' Mumbai +172 more'],
 ['Iron & Steel ',
  ' 1 Lakh+ Employees ',
  ' Public ',
  ' 116 years old ',
  ' Mumbai +133 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 33 years old ',
  ' Mumbai +34 more'],
 ['Consumer Electronics & Appliances ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 19 years old ',
  ' Dongguan +349 more'],
 ['Engineering & Construction ',
  ' 5k-10k Employees ',
  ' Conglomerate ',
  ' 158 years old ',
  ' Mumbai +148 more'],
 ['Automobile ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 75 years old ',
  ' Chennai +200 more'],
 ['Iron & Steel ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 41 years old ',
  ' Mumbai +112 more'],
 ['NBFC ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 44 years old ',
  ' Mumbai +735 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 37 years old ',
  ' Hyderabad/Secunderabad +55 more'],
 ['Insurance ',
  ' 10k-50k Employees ',
  ' 23 years old ',
  ' Gurgaon/Gurugram +343 more'],
 ['Consumer Electronics & Appliances ',
  ' 5k-10k Employees ',
  ' Conglomerate ',
  ' 14 years old ',
  ' Gurgaon/Gurugram +350 more'],
 ['NBFC ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 84 years old ',
  ' Kochi/Cochin +551 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 23 years old ',
  ' Mumbai +15 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 71 years old ',
  ' Ahmedabad +121 more'],
 ['Software Product ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 46 years old ',
  ' Austin +37 more'],
 ['Power ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 176 years old ',
  ' Munich +114 more'],
 ['Healthcare ',
  ' 50k-1 Lakh Employees ',
  ' Public ',
  ' 40 years old ',
  ' Chennai +168 more'],
 ['NBFC ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 32 years old ',
  ' Mumbai +601 more'],
 ['Engineering & Construction ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 44 years old ',
  ' Mumbai +219 more'],
 ['Real Estate ',
  ' 5k-10k Employees ',
  ' Forbes Global 2000 ',
  ' 26 years old ',
  ' Mumbai +64 more'],
 ['Bengaluru/Bangalore +31 more'],
 ['BPO ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 22 years old ',
  ' Mumbai +49 more'],
 ['Automobile ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 39 years old ',
  ' Gurgaon/Gurugram +287 more'],
 ['Emerging Technologies ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 8 years old ',
  ' Houston +89 more'],
 ['Internet ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 27 years old ',
  ' Mumbai +150 more'],
 ['Insurance ', ' 10k-50k Employees ', ' 22 years old ', ' Pune +473 more'],
 ['IT Services & Consulting ',
  ' 5k-10k Employees ',
  ' 19 years old ',
  ' Florida +37 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 32 years old ',
  ' Hyderabad/Secunderabad +27 more'],
 ['Engineering & Construction ',
  ' 1k-5k Employees ',
  ' Conglomerate ',
  ' 34 years old ',
  ' Hyderabad/Secunderabad +246 more'],
 ['Engineering & Construction ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 79 years old ',
  ' Chennai +283 more'],
 ['Automobile ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 56 years old ',
  ' Seoul +246 more'],
 ['Retail ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 4 years old ',
  ' Mumbai +197 more'],
 ['Telecom ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 21 years old ',
  ' Navi Mumbai +395 more'],
 ['Automobile ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 44 years old ',
  ' Chennai +250 more'],
 ['Internet ',
  ' 10k-50k Employees ',
  ' Indian Unicorn ',
  ' 12 years old ',
  ' Bangalore +98 more'],
 ['Auto Components ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 137 years old ',
  ' Gerlingen +90 more'],
 ['Hospitality ',
  ' 1k-5k Employees ',
  ' Indian Unicorn ',
  ' 10 years old ',
  ' Gurgaon +109 more'],
 ['Internet ', ' 10k-50k Employees ', ' 27 years old ', ' Noida +121 more'],
 ['BPO ', ' 10k-50k Employees ', ' 23 years old ', ' Mumbai +57 more'],
 ['Retail ',
  ' 10k-50k Employees ',
  ' Conglomerate ',
  ' 10 years old ',
  ' Mumbai +196 more'],
 ['NBFC ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 74 years old ',
  ' Thrissur/Trichur +443 more'],
 ['IT Services & Consulting ',
  ' 5k-10k Employees ',
  ' 43 years old ',
  ' Troy +16 more'],
 ['Financial Services ',
  ' 1k-5k Employees ',
  ' 25 years old ',
  ' Gurgaon/Gurugram +295 more'],
 ['IT Services & Consulting ',
  ' 5k-10k Employees ',
  ' Forbes Global 2000 ',
  ' 19 years old ',
  ' New York City +12 more'],
 ['Auto Components ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 61 years old ',
  ' Columbus +92 more'],
 ['Software Product ',
  ' 10k-50k Employees ',
  ' 33 years old ',
  ' Gerlingen +23 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees ',
  ' 23 years old ',
  ' Bengaluru +38 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' 22 years old ',
  ' Aliso Viejo +32 more'],
 ['Clinical Research ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 41 years old ',
  ' Durham +38 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 19 years old ',
  ' Noida +78 more'],
 ['Financial Services ',
  ' 10k-50k Employees ',
  ' 16 years old ',
  ' Mumbai +438 more'],
 ['Software Product ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 41 years old ',
  ' Chesterfield +13 more'],
 ['5k-10k Employees ', ' Public ', ' 85 years old ', ' Seoul +388 more'],
 ['Industrial Automation ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 24 years old ',
  ' Paris +97 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' 27 years old ',
  ' Munich +33 more'],
 ['Insurance ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 22 years old ',
  ' Mumbai +228 more'],
 ['Real Estate ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 117 years old ',
  ' Los Angeles +61 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' 23 years old ',
  ' San Jose +25 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' 27 years old ',
  ' Southborough +25 more'],
 ['Auto Components ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 40 years old ',
  ' Gurgaon/Gurugram +75 more'],
 ['Consumer Electronics & Appliances ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 39 years old ',
  ' Round Rock +82 more'],
 ['Logistics ', ' 10k-50k Employees ', ' 11 years old ', ' Gurgaon +560 more'],
 ['Automobile ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 78 years old ',
  ' Pune +222 more'],
 ['Banking ',
  ' 1 Lakh+ Employees ',
  ' Fortune India 500 ',
  ' 217 years old ',
  ' Mumbai +425 more'],
 ['NBFC ',
  ' 5k-10k Employees ',
  ' Fortune India 500 ',
  ' 45 years old ',
  ' Chennai +543 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 16 years old ',
  ' Chennai +322 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 62 years old ',
  ' Canonsburg +64 more'],
 ['Internet ',
  ' 5k-10k Employees ',
  ' Indian Unicorn ',
  ' 9 years old ',
  ' Bangalore +155 more'],
 ['Auto Components ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 37 years old ',
  ' Noida +66 more'],
 ['Real Estate ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 78 years old ',
  ' Mumbai +240 more'],
 ['Engineering & Construction ',
  ' 1k-5k Employees ',
  ' Public ',
  ' 25 years old ',
  ' Hyderabad/Secunderabad +196 more'],
 ['Retail ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 8 years old ',
  ' Mumbai +208 more'],
 ['Insurance ', ' 10k-50k Employees ', ' 22 years old ', ' Mumbai +477 more'],
 ['NBFC ',
  ' 10k-50k Employees ',
  ' Conglomerate ',
  ' 136 years old ',
  ' Trivandrum/Thiruvananthapuram +500 more'],
 ['Logistics ',
  ' 5k-10k Employees ',
  ' 14 years old ',
  ' San Francisco +496 more'],
 ['FMCG ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 126 years old ',
  ' Mumbai +122 more'],
 ['Automobile ',
  ' 1k-5k Employees ',
  ' 122 years old ',
  ' Gurgaon/Gurugram +274 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 11 years old ',
  ' Vadodara/Baroda +31 more'],
 ['Healthcare ', ' 10k-50k Employees ', ' 46 years old ', ' Prairie +22 more'],
 ['Telecom ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 37 years old ',
  ' Mumbai +82 more'],
 ['Consumer Electronics & Appliances ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 65 years old ',
  ' Seoul +223 more'],
 ['NBFC ', ' 5k-10k Employees ', ' 3 years old ', ' Mumbai +289 more'],
 ['IT Services & Consulting ',
  ' 5k-10k Employees ',
  ' Fortune India 500 ',
  ' 22 years old ',
  ' Moline +104 more'],
 ['EdTech ',
  ' 5k-10k Employees ',
  ' Startup ',
  ' 5 years old ',
  ' Mumbai +47 more'],
 ['NBFC ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 29 years old ',
  ' Mumbai +437 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 23 years old ',
  ' Ahmedabad +105 more'],
 ['Industrial Machinery ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 43 years old ',
  ' Pune +142 more'],
 ['Beverage ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 28 years old ',
  ' Gurgaon/Gurugram +243 more'],
 ['Pharma ',
  ' 1k-5k Employees ',
  ' 30 years old ',
  ' Hyderabad/Secunderabad +34 more'],
 ['Healthcare ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 46 years old ',
  ' Minnetonka +14 more'],
 ['Automobile ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 120 years old ',
  ' Dearborn +101 more'],
 ['Facility Management Services ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 15 years old ',
  ' Issy les Moulineaux +121 more'],
 ['Pharma ',
  ' 1k-5k Employees ',
  ' Public ',
  ' 32 years old ',
  ' Illinois City +159 more'],
 ['Banking ',
  ' 10k-50k Employees ',
  ' Fortune India 500 ',
  ' 153 years old ',
  ' Frankfurt +30 more'],
 ['1k-5k Employees ',
  ' Conglomerate ',
  ' 31 years old ',
  ' Chennai +225 more'],
 ['Auto Components ',
  ' 1k-5k Employees ',
  ' Public ',
  ' 38 years old ',
  ' Noida +37 more'],
 ['Pharma ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 37 years old ',
  ' Mumbai +81 more'],
 ['Automobile ',
  ' 1k-5k Employees ',
  ' 15 years old ',
  ' Gurgaon/Gurugram +114 more'],
 ['IT Services & Consulting ',
  ' 5k-10k Employees ',
  ' Forbes Global 2000 ',
  ' 74 years old ',
  ' New Jersey +17 more'],
 ['Financial Services ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 173 years old ',
  ' New York City +38 more'],
 ['Internet ',
  ' 5k-10k Employees ',
  ' Indian Unicorn ',
  ' 8 years old ',
  ' Gurgaon +137 more'],
 ['Electrical Equipment ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 40 years old ',
  ' Noida +154 more'],
 ['Chemicals ',
  ' 5k-10k Employees ',
  ' Public ',
  ' 64 years old ',
  ' Mumbai +201 more'],
 ['FMCG ',
  ' 1k-5k Employees ',
  ' 78 years old ',
  ' Bangalore/Bengaluru +81 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 50 years old ',
  ' Mumbai +132 more'],
 ['Beverage ', ' 5k-10k Employees ', ' 26 years old ', ' Bangalore +191 more'],
 ['Defence & Aerospace ',
  ' 1 Lakh+ Employees ',
  ' 91 years old ',
  ' New Delhi +108 more'],
 ['Consumer Electronics & Appliances ',
  ' 5k-10k Employees ',
  ' Fortune India 500 ',
  ' 69 years old ',
  ' Bangalore/Bengaluru +37 more'],
 ['Pharma ',
  ' 10k-50k Employees ',
  ' Public ',
  ' 116 years old ',
  ' Vadodara/Baroda +128 more'],
 ['Financial Services ',
  ' 1k-5k Employees ',
  ' 12 years old ',
  ' San Mateo +265 more'],
 ['IT Services & Consulting ',
  ' 1 Lakh+ Employees (Global) ',
  ' MNC ',
  ' 78 years old ',
  ' Bangalore +116 more'],
 ['IT Services & Consulting ',
  ' 201-500 Employees ',
  ' Forbes Global 2000 ',
  ' 26 years old ',
  ' Vilnius +35 more'],
 ['Recruitment ',
  ' 1k-5k Employees ',
  ' Public ',
  ' 7 years old ',
  ' Bangalore/Bengaluru +255 more'],
 ['IT Services & Consulting ',
  ' 10k-50k Employees ',
  ' Forbes Global 2000 ',
  ' 47 years old ',
  ' Montreal +14 more'],

In [14]:
#Defining List 
TypeofCompany=[]
Employees=[]
Years=[]
location=[]

for data in splitdata:
    TypeofCompany.append(data[0])

In [15]:
TypeofCompany

['IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Banking ',
 'Banking ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Banking ',
 'BPO ',
 'Software Product ',
 'Internet ',
 'Telecom ',
 'Engineering & Construction ',
 'NBFC ',
 'Retail ',
 'BPO ',
 'Telecom ',
 'Management Consulting ',
 'Banking ',
 'EdTech ',
 'Oil & Gas ',
 'Telecom ',
 'Automobile ',
 'Internet ',
 'Accounting & Auditing ',
 'BPO ',
 'Banking ',
 'Automobile ',
 'IT Services & Consulting ',
 'BPO ',
 'Banking ',
 'Automobile ',
 'Software Product ',
 'Insurance ',
 'Analytics & KPO ',
 'Banking ',
 'BPO ',
 'BPO ',
 'Telecom ',
 'IT Services & Consulting ',
 'Accounting & Auditing ',
 'Insurance ',
 'Banking ',
 'Pharma ',
 'Chemicals ',
 'Pharma ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Insurance ',
 'Banking ',
 'Analytics & KPO ',
 'Management Consulting ',
 'IT Services & Consulting ',
 'Internet ',
 'Building Material ',
 'Pharma ',
 'FinTech ',
 'Banking ',
 'NBFC ',
 'IT Services & Consulting ',
 'Defence & Aerospace ',
 'FMCG ',
 'Financial Services ',
 'IT Services & Consulting ',
 'FMCG ',
 '10k-50k Employees ',
 'IT Services & Consulting ',
 'Banking ',
 'Logistics ',
 'Banking ',
 'Financial Services ',
 'Hyderabad/Secunderabad +48 more',
 'Financial Services ',
 'Recruitment ',
 'Pharma ',
 'Iron & Steel ',
 'IT Services & Consulting ',
 'Consumer Electronics & Appliances ',
 'Engineering & Construction ',
 'Automobile ',
 'Iron & Steel ',
 'NBFC ',
 'Pharma ',
 'Insurance ',
 'Consumer Electronics & Appliances ',
 'NBFC ',
 'IT Services & Consulting ',
 'Pharma ',
 'Software Product ',
 'Power ',
 'Healthcare ',
 'NBFC ',
 'Engineering & Construction ',
 'Real Estate ',
 'Bengaluru/Bangalore +31 more',
 'BPO ',
 'Automobile ',
 'Emerging Technologies ',
 'Internet ',
 'Insurance ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Engineering & Construction ',
 'Engineering & Construction ',
 'Automobile ',
 'Retail ',
 'Telecom ',
 'Automobile ',
 'Internet ',
 'Auto Components ',
 'Hospitality ',
 'Internet ',
 'BPO ',
 'Retail ',
 'NBFC ',
 'IT Services & Consulting ',
 'Financial Services ',
 'IT Services & Consulting ',
 'Auto Components ',
 'Software Product ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Clinical Research ',
 'IT Services & Consulting ',
 'Financial Services ',
 'Software Product ',
 '5k-10k Employees ',
 'Industrial Automation ',
 'IT Services & Consulting ',
 'Insurance ',
 'Real Estate ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Auto Components ',
 'Consumer Electronics & Appliances ',
 'Logistics ',
 'Automobile ',
 'Banking ',
 'NBFC ',
 'Banking ',
 'Pharma ',
 'Internet ',
 'Auto Components ',
 'Real Estate ',
 'Engineering & Construction ',
 'Retail ',
 'Insurance ',
 'NBFC ',
 'Logistics ',
 'FMCG ',
 'Automobile ',
 'IT Services & Consulting ',
 'Healthcare ',
 'Telecom ',
 'Consumer Electronics & Appliances ',
 'NBFC ',
 'IT Services & Consulting ',
 'EdTech ',
 'NBFC ',
 'Pharma ',
 'Industrial Machinery ',
 'Beverage ',
 'Pharma ',
 'Healthcare ',
 'Automobile ',
 'Facility Management Services ',
 'Pharma ',
 'Banking ',
 '1k-5k Employees ',
 'Auto Components ',
 'Pharma ',
 'Automobile ',
 'IT Services & Consulting ',
 'Financial Services ',
 'Internet ',
 'Electrical Equipment ',
 'Chemicals ',
 'FMCG ',
 'Pharma ',
 'Beverage ',
 'Defence & Aerospace ',
 'Consumer Electronics & Appliances ',
 'Pharma ',
 'Financial Services ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Recruitment ',
 'IT Services & Consulting ',
 'Metals & Mining ',
 'Retail ',
 'Banking ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Electrical Equipment ',
 'Pharma ',
 'Pharma ',
 'Banking ',
 'Automobile ',
 'Logistics ',
 'Banking ',
 'Auto Components ',
 'Banking ',
 'Logistics ',
 'Insurance ',
 'Logistics ',
 'Accounting & Auditing ',
 'Chemicals ',
 'IT Services & Consulting ',
 'Software Product ',
 'Biotechnology ',
 'Insurance ',
 'Retail ',
 'IT Services & Consulting ',
 'Banking ',
 'IT Services & Consulting ',
 'Healthcare ',
 'Iron & Steel ',
 'Auto Components ',
 'Power ',
 'Chemicals ',
 'Insurance ',
 'Oil & Gas ',
 'FMCG ',
 'FMCG ',
 'Banking ',
 'FinTech ',
 'BPO ',
 'Automobile ',
 'Building Material ',
 'Insurance ',
 'Building Material ',
 'Insurance ',
 'BPO ',
 'Hyderabad/Secunderabad +9 more',
 'Engineering & Construction ',
 'Consumer Electronics & Appliances ',
 'Other ',
 'Pharma ',
 'Aviation ',
 'Retail ',
 'Iron & Steel ',
 'EdTech ',
 'Fashion & Textile ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Engineering & Construction ',
 'IT Services & Consulting ',
 'Retail ',
 'Software Product ',
 'Agro Chemicals ',
 'Telecom ',
 'Hospitality ',
 'Non-Profit ',
 'Auto Components ',
 'BPO ',
 '5k-10k Employees ',
 'Insurance ',
 'Electronics Manufacturing ',
 'IT Services & Consulting ',
 'FMCG ',
 'Hospitality ',
 'IT Services & Consulting ',
 'BPO ',
 'IT Services & Consulting ',
 'Hospitality ',
 'Financial Services ',
 'Engineering & Construction ',
 'Other ',
 'Retail ',
 'BPO ',
 'Automobile ',
 'Healthcare ',
 'BPO ',
 '10k-50k Employees ',
 'Pharma ',
 'IT Services & Consulting ',
 'Real Estate ',
 'IT Services & Consulting ',
 'Healthcare ',
 'Food Processing ',
 'Retail ',
 'Financial Services ',
 'Logistics ',
 'Internet ',
 'Insurance ',
 'FinTech ',
 'Financial Services ',
 'IT Services & Consulting ',
 'Retail ',
 'Financial Services ',
 'Recruitment ',
 'Logistics ',
 'Retail ',
 'Hardware & Networking ',
 'Consumer Electronics & Appliances ',
 'Consumer Electronics & Appliances ',
 'Engineering & Construction ',
 'Internet ',
 'Auto Components ',
 'Pharma ',
 'Pharma ',
 'Financial Services ',
 'EdTech ',
 'Hospitality ',
 'Law Enforcement & Security ',
 'Telecom ',
 'Retail ',
 'Logistics ',
 'Auto Components ',
 'Food Processing ',
 'Food Processing ',
 'Logistics ',
 'Building Material ',
 'Pharma ',
 '10k-50k Employees ',
 'BPO ',
 'Telecom ',
 'Insurance ',
 'Consumer Electronics & Appliances ',
 'Insurance ',
 'Building Material ',
 'Hardware & Networking ',
 'Pharma ',
 'Building Material ',
 'Industrial Automation ',
 'Education & Training ',
 'NBFC ',
 'Retail ',
 'Electrical Equipment ',
 'Automobile ',
 'Automobile ',
 'Auto Components ',
 'Pharma ',
 'Noida +185 more',
 'Logistics ',
 'Healthcare ',
 'Media & Entertainment ',
 'IT Services & Consulting ',
 'Metals & Mining ',
 'Logistics ',
 'IT Services & Consulting ',
 'Fashion & Textile ',
 'Electrical Equipment ',
 'Retail ',
 'Telecom ',
 'Beverage ',
 'IT Services & Consulting ',
 'FMCG ',
 'Hospitality ',
 'Internet ',
 'Banking ',
 'Power ',
 'NBFC ',
 'Railways ',
 'Building Material ',
 'Chemicals ',
 'Internet ',
 'Consumer Electronics & Appliances ',
 'IT Services & Consulting ',
 'Retail ',
 'Financial Services ',
 '5k-10k Employees ',
 'Chemicals ',
 'Automobile ',
 'Retail ',
 'Pharma ',
 'Real Estate ',
 'Oil & Gas ',
 'Retail ',
 'Hospitality ',
 'Telecom ',
 'IT Services & Consulting ',
 'Industrial Machinery ',
 'BPO ',
 'Auto Components ',
 'Internet ',
 'Insurance ',
 'Auto Components ',
 'Auto Components ',
 'Real Estate ',
 'Auto Components ',
 'Oil & Gas ',
 'Insurance ',
 'Real Estate ',
 'Management Consulting ',
 'Pharma ',
 'NBFC ',
 'Agriculture ',
 'IT Services & Consulting ',
 'Beverage ',
 'Financial Services ',
 'Financial Services ',
 'Printing & Publishing ',
 'Auto Components ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Pharma ',
 'Defence & Aerospace ',
 'Accounting & Auditing ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Automobile ',
 'Retail ',
 'Internet ',
 'Fortune India 500 ',
 'Non-Profit ',
 'Logistics ',
 'Auto Components ',
 'FMCG ',
 'Engineering & Construction ',
 'IT Services & Consulting ',
 'EdTech ',
 'Food Processing ',
 'Auto Components ',
 'IT Services & Consulting ',
 'Insurance ',
 'IT Services & Consulting ',
 'Pune +29 more',
 'Packaging ',
 'IT Services & Consulting ',
 '5k-10k Employees ',
 'IT Services & Consulting ',
 'Insurance ',
 'EdTech ',
 'Financial Services ',
 'Iron & Steel ',
 'Pharma ',
 'Automobile ',
 'Financial Services ',
 'Insurance ',
 'Engineering & Construction ',
 'Banking ',
 'Pharma ',
 'IT Services & Consulting ',
 'Internet ',
 'NBFC ',
 'Defence & Aerospace ',
 'Insurance ',
 'NBFC ',
 'Accounting & Auditing ',
 'Banking ',
 'Iron & Steel ',
 'EdTech ',
 'IT Services & Consulting ',
 'Banking ',
 'Engineering & Construction ',
 'IT Services & Consulting ',
 'Banking ',
 'Healthcare ',
 'Fashion & Textile ',
 'Financial Services ',
 'Media & Entertainment ',
 'IT Services & Consulting ',
 'Telecom ',
 'Healthcare ',
 'Ports & Shipping ',
 'Pharma ',
 'Financial Services ',
 'Pharma ',
 'IT Services & Consulting ',
 'Insurance ',
 'FinTech ',
 'Consumer Electronics & Appliances ',
 'Consumer Electronics & Appliances ',
 'IT Services & Consulting ',
 '1k-5k Employees ',
 'Automobile ',
 '10k-50k Employees ',
 'NBFC ',
 'IT Services & Consulting ',
 'Financial Services ',
 'Pharma ',
 'FinTech ',
 'EdTech ',
 'Industrial Machinery ',
 'Logistics ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'Logistics ',
 'Retail ',
 'Pharma ',
 'BPO ',
 'FMCG ',
 'EdTech ',
 'IT Services & Consulting ',
 'Internet ',
 'Software Product ',
 'Financial Services ',
 'Engineering & Construction ',
 'IT Services & Consulting ',
 'Hospitality ',
 'Auto Components ',
 'Insurance ',
 'FMCG ',
 'Hospitality ',
 'Broadcasting ',
 'Engineering & Construction ',
 'FMCG ',
 'Healthcare ',
 'Defence & Aerospace ',
 'Analytics & KPO ',
 'Financial Services ',
 'Software Product ',
 'Financial Services ',
 'Pharma ',
 'Recruitment ',
 'Food Processing ',
 'Software Product ',
 'IT Services & Consulting ',
 'Consumer Electronics & Appliances ',
 'Automobile ',
 'Pharma ',
 'Recruitment ',
 'FinTech ',
 'BPO ',
 'Automobile ',
 'Engineering & Construction ',
 'Aviation ',
 'Financial Services ',
 'Consumer Electronics & Appliances ',
 'Internet ',
 'Retail ',
 'Internet ',
 'Power ',
 'Electrical Equipment ',
 'Logistics ',
 'Auto Components ',
 'Financial Services ',
 'Agro Chemicals ',
 'Telecom ',
 'Financial Services ',
 'IT Services & Consulting ',
 'Industrial Machinery ',
 'IT Services & Consulting ',
 '5k-10k Employees ',
 'Logistics ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 'IT Services & Consulting ',
 '10k-50k Employees ',
 'Healthcare ',
 'Automobile ',
 'EdTech ',
 'Auto Components ',
 'IT Services & Consulting ',
 'Telecom ',
 'IT Services & Consulting ',
 'Auto Components ',
 'Consumer Electronics & Appliances ',
 'Hospitality ',
 'Media & Entertainment ',
 'Healthcare ',
 'Auto Components ',
 'Analytics & KPO ',
 'Engineering & Construction ',
 'Logistics ',
 'Consumer Electronics & Appliances ',
 'Building Material ',
 'Printing & Publishing ',
 'FMCG ',
 'Oil & Gas ',
 'IT Services & Consulting ',
 'Healthcare ',
 'Financial Services ',
 'Management Consulting ',
 'Consumer Electronics & Appliances ',
 'Oil & Gas ',
 'IT Services & Consulting ',
 'Retail ',
 'Building Material ',
 'BPO ',
 'Financial Services ',
 'IT Services & Consulting ',
 'BPO ',
 'Fashion & Textile ',
 'Engineering & Construction ',
 'Hospitality ',
 'Education & Training ',
 'Education & Training ',
 'NBFC ',
 'Pharma ',
 'Industrial Machinery ',
 'Consumer Electronics & Appliances ',
 'IT Services & Consulting ',
 'Fashion & Textile ',
 'Oil & Gas ',
 'BPO ',
 'IT Services & Consulting ',
 'Education & Training ',
 'BPO ',
 'Power ',
 'Fashion & Textile ',
 'FinTech ',
 'Facility Management Services ',
 'Auto Components ']

In [16]:
unsort=pd.DataFrame(splitdata)

In [17]:
unsort.rename(columns={0:'Domain'})

,Domain,1,2,3,4
0,IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +280 more
1,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +141 more
2,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +111 more
3,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +243 more
4,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1177 more
...,...,...,...,...,...
595,Power,10k-50k Employees,Public,112 years old,Mumbai +105 more
596,Fashion & Textile,10k-50k Employees,Public,33 years old,Ludhiana +41 more
597,FinTech,1k-5k Employees,Startup,9 years old,Gurgaon/Gurugram +12 more
598,Facility Management Services,10k-50k Employees,18 years old,Copenhagen +49 more,None
599,Auto Components,1k-5k Employees,Public,78 years old,Pune +29 more

In [18]:
unsort.rename(columns={0:'Domain',1:'Employees',2:'Type',3:'Since',4:'Location'}, inplace=True)

In [19]:
unsort

,Domain,Employees,Type,Since,Location
0,IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +280 more
1,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +141 more
2,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +111 more
3,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +243 more
4,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1177 more
...,...,...,...,...,...
595,Power,10k-50k Employees,Public,112 years old,Mumbai +105 more
596,Fashion & Textile,10k-50k Employees,Public,33 years old,Ludhiana +41 more
597,FinTech,1k-5k Employees,Startup,9 years old,Gurgaon/Gurugram +12 more
598,Facility Management Services,10k-50k Employees,18 years old,Copenhagen +49 more,None
599,Auto Components,1k-5k Employees,Public,78 years old,Pune +29 more

In [20]:
merge=pd.concat([Series1,Series2],axis=1)

In [21]:
merge

                CompanyNames Rating
0                        TCS    3.8
1                  Accenture    4.1
2                  Cognizant    3.9
3                      Wipro    3.8
4                 ICICI Bank    4.0
..                       ...    ...
715         Lumax Industries    NaN
716   Companies by  Industry    NaN
717  Companies by  Locations    NaN
718       Companies by  Type    NaN
719     Companies by  Badges    NaN

[720 rows x 2 columns]

In [22]:
dfmerger=pd.concat([merge,unsort,eg],axis=1,ignore_index=True)

In [23]:
dfmerger.head(40)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,TCS,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +280 more,61.7k,863.3k,5.1k,48,25.6k,63
1,Accenture,4.1,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +141 more,39.4k,562.2k,3.5k,10.2k,18.3k,31
2,Cognizant,3.9,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +111 more,36k,567.9k,3.1k,466,14.9k,41
3,Wipro,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +243 more,29.5k,417.8k,3k,436,11.5k,33
4,ICICI Bank,4.0,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1177 more,29.2k,219.2k,1.6k,236,11.9k,12
5,HDFC Bank,3.9,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1404 more,28.6k,214.6k,1.3k,398,9.6k,11
6,Infosys,3.9,IT Services & Consulting,1 Lakh+ Employees,Public,42 years old,Bengaluru/Bangalore +135 more,27k,489.1k,4.3k,951,11.5k,62
7,Capgemini,3.9,IT Services & Consulting,1 Lakh+ Employees,Public,56 years old,Paris +86 more,25k,371.8k,2.1k,522,9.6k,21
8,Tech Mahindra,3.7,IT Services & Consulting,1 Lakh+ Employees,Public,37 years old,Pune +231 more,23.6k,265.8k,2k,1.3k,9.6k,31
9,Genpact,4.0,IT Services & Consulting,50k-1 Lakh Employees,Public,26 years old,New York +79 more,22.7k,196.7k,1.6k,1k,10.5k,22
10,HCLTech,3.7,IT Services & Consulting,1 Lakh+ Employees,Public,32 years old,Noida +150 more,22.6k,273.8k,2k,591,8.8k,19
11,Axis Bank,3.8,Banking,50k-1 Lakh Employees,Public,30 years old,Mumbai +1209 more,19.3k,165.3k,928,260,7k,10
12,Concentrix Corporation,4.0,BPO,10k-50k Employees,Public,40 years old,Fremont +82 more,18.1k,109.1k,866,207,9k,13
13,IBM,4.1,Software Product,50k-1 Lakh Employees,Public,112 years old,Armonk +129 more,17.5k,216.2k,1.3k,2.6k,7.4k,13
14,Amazon,4.2,Internet,1 Lakh+ Employees,Public,29 years old,Seattle +389 more,17.4k,137.9k,2.9k,655,6.4k,24
15,Reliance Jio,4.0,Telecom,50k-1 Lakh Employees,Public,16 years old,Navi Mumbai +1084 more,17.4k,97.5k,982,138,6.7k,23
16,Larsen & Toubro Limited,4.0,Engineering & Construction,1 Lakh+ Employees,Public,85 years old,Mumbai +572 more,16.5k,98.2k,882,294,6.9k,26
17,HDB Financial Services,4.0,NBFC,10k-50k Employees,16 years old,Ahmedabad +880 more,None,15.5k,80.6k,487,95,5.7k,16
18,Reliance Retail,3.9,Retail,1 Lakh+ Employees,17 years old,Navi Mumbai +874 more,None,15.1k,80.7k,967,249,4.5k,51
19,Teleperformance,3.6,BPO,10k-50k Employees,Forbes Global 2000,45 years old,Paris +131 more,14.5k,88k,951,288,6.1k,14
20,Companies by Industry,4.2,Telecom,10k-50k Employees,Public,5 years old,Gandhinagar +595 more,14.2k,86k,378,410,6.5k,4
21,Companies by Locations,4.0,Management Consulting,50k-1 Lakh Employees,178 years old,London +141 more,None,12.2k,151k,1.4k,292,5.1k,18
22,Companies by Type,3.8,Banking,10k-50k Employees,Public,20 years old,Mumbai +504 more,12.1k,104.3k,607,80,4.3k,5
23,Companies by Badges,3.2,EdTech,1k-5k Employees,Indian Unicorn,12 years old,Bangalore +284 more,12k,67.7k,1.6k,929,2.9k,14
24,Vodafone Idea,4.0,Oil & Gas,Public,46 years old,Navi Mumbai +572 more,None,11.4k,77k,775,72,4.8k,14
25,Deloitte,4.0,Telecom,10k-50k Employees,Public,28 years old,Gurgaon/Gurugram +585 more,10.6k,60.6k,472,252,4.5k,16
26,Kotak Mahindra Bank,4.2,Automobile,10k-50k Employees,Public,78 years old,Pune +414 more,9.9k,49.5k,621,19,4.7k,12
27,BYJU'S,4.1,Internet,10k-50k Employees,Public,16 years old,Bangalore +489 more,8.5k,55.5k,884,423,3.6k,69
28,Reliance Industries,3.7,Accounting & Auditing,10k-50k Employees,21 years old,London +84 more,None,8.4k,118.3k,759,1.7k,3.2k,1
29,Bharti Airtel,3.6,BPO,10k-50k Employees,27 years old,Mumbai +28 more,None,8.3k,59.8k,613,242,4k,5
30,Tata Motors,3.7,Banking,10k-50k Employees,Public,29 years old,Gurgaon/Gurugram +624 more,7.9k,67k,353,236,2.7k,2
31,Flipkart,4.1,Automobile,1 Lakh+ Employees,Public,78 years old,Mumbai +435 more,7.7k,43.6k,406,93,3.4k,2
32,Ernst & Young,3.9,IT Services & Consulting,10k-50k Employees,Public,6 years old,Minato +59 more,7.2k,82.8k,453,165,3.3k,1
33,WNS,3.9,BPO,10k-50k Employees,21 years old,Bangalore/Bengaluru +53 more,None,7.1k,61.2k,582,27,3.4k,10
34,IndusInd Bank,4.0,Banking,10k-50k Employees,Public,5 years old,Mumbai +492 more,6.7k,52.3k,338,89,2.3k,1
35,Mahindra & Mahindra,4.2,Automobile,10k-50k Employees,Public,40 years old,New Delhi +392 more,6.6k,32.2k,390,334,2.9k,3
36,DXC Technology,4.0,Software Product,10k-50k Employees,Public,23 years old,Bangalore/Bengaluru +85 more,6.3k,29.8k,147,67,3.6k,32
37,Infosys BPM,4.0,Insurance,10k-50k Employees,Public,16 years old,Pune +772 more,6.3k,39.2k,292,53,2.3k,--
38,IDFC FIRST Bank,3.7,Analytics & KPO,10k-50k Employees,21 years old,Mumbai +180 more,None,6.2k,28.5k,250,30,2.7k,7
39,Maruti Suzuki,4.1,Banking,10k-50k Employees,Forbes Global 2000,21 years old,Pune +55 more,6.2k,59.6k,314,34,3.3k,3

In [24]:
dfmerger.columns=['Company Name','Rating','Domain','Employees','Public','Since','Location','Review','Salaries','Inteviews','Jobs','Benifits','Photos']

In [25]:
dfmerger

,Company Name,Rating,Domain,Employees,Public,Since,Location,Review,Salaries,Inteviews,Jobs,Benifits,Photos
0,TCS,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +280 more,61.7k,863.3k,5.1k,48,25.6k,63
1,Accenture,4.1,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +141 more,39.4k,562.2k,3.5k,10.2k,18.3k,31
2,Cognizant,3.9,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +111 more,36k,567.9k,3.1k,466,14.9k,41
3,Wipro,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +243 more,29.5k,417.8k,3k,436,11.5k,33
4,ICICI Bank,4.0,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1177 more,29.2k,219.2k,1.6k,236,11.9k,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,Lumax Industries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,Companies by Industry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,Companies by Locations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,Companies by Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,Companies by Badges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dfmerger.to_csv('AmbitionBox Dataset.csv',index=False)
print('Succeccfully Exported')

Succeccfully Exported